In [1]:
import numpy as np
import pandas as pd

In [3]:
dict1 = {
    "name" : ['baburao', 'shefali', 'daya', 'acp'],
    "marks" : [56, 57,27 , 89],
    "city" : ['sarangkheda', 'sangli', 'barshi', 'daund']
}

In [4]:
df = pd.DataFrame(dict1)

In [5]:
df

      name  marks         city
0  baburao     56  sarangkheda
1  shefali     57       sangli
2     daya     27       barshi
3      acp     89        daund

**pd.DataFrame() creates a excel sheet type of format according to the given dictionary provided...........
it also assigns indexes as the number of rows**

In [9]:
df.to_csv('baburao.csv')

**.to_csv('file_name.csv ') function converts given dataframe into an excel sheet datatype**

if you don't want indexes to be there in your excel sheet, then just add index=False statement after file name

In [8]:
df.to_csv('baburao_index_false.csv', index=False)

In [10]:
df.head(2)

      name  marks         city
0  baburao     56  sarangkheda
1  shefali     57       sangli

returns first two rows from top

In [11]:
df.tail(2)

   name  marks    city
2  daya     27  barshi
3   acp     89   daund

returns first two rows from bottom

In [12]:
df.describe()

           marks
count   4.000000
mean   57.250000
std    25.329495
min    27.000000
25%    48.750000
50%    56.500000
75%    65.000000
max    89.000000

**.describe() gives statistical analysis of numerical fields - no need of stata software!!!!**

# reading a excel file (.csv file) from folder

In [13]:
train = pd.read_csv('mytrain.csv')

In [14]:
train

   Train no  speed    city
0     12425    565  chakur
1     11525    515   akola
2     12134    897    pune
3     15515     23  mulshi

In [15]:
train['speed']

0    565
1    515
2    897
3     23
Name: speed, dtype: int64

In [16]:
train['speed'][0]

565

In [17]:
train['speed'][0]=100

C:\Users\nipan\AppData\Local\Temp\ipykernel_8832\2570865288.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['speed'][0]=100

In [18]:
train

   Train no  speed    city
0     12425    100  chakur
1     11525    515   akola
2     12134    897    pune
3     15515     23  mulshi

In [19]:
train.to_csv('mytrain.csv')

changing indices

In [20]:
train.index = ['first', 'second', 'third', 'fourth']

In [21]:
train

        Train no  speed    city
first      12425    100  chakur
second     11525    515   akola
third      12134    897    pune
fourth     15515     23  mulshi

In [22]:
train['city']['third']

'pune'

In [23]:
train['Train no']['speed']['fourth']

KeyError: 'speed'

you can access at most one column and row at once